<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArchiveSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ArchiveSystem.Properties.Settings>
            <setting name="DOC_Source" serializeAs="String">
                <value />
            </setting>
        </ArchiveSystem.Properties.Settings>
    </userSettings>

	<appSettings>
		
		<!--<add key="FTP_Path" value="ftp://192.168.106.121:2020/" />
		<add key="FTP_user" value="anas office" />
		<add key="FTP_pass" value="2213" />-->

    <add key="FTP_Path" value="ftp://192.168.106.125:2020/" />
    <add key="FTP_user" value="mohammed" />
    <add key="FTP_pass" value="Passw0rd" />
    
	</appSettings>
	<connectionStrings>
		<!--<add name="con" connectionString="Data Source=DESKTOP-F9FACE9\SQLEXPRESS;Initial Catalog=ArchiveSystem;Integrated Security=True" />-->
    <add name="con" connectionString="Data Source=MOHAMMED;Initial Catalog=ArchiveSystem;Integrated Security=True" />
	</connectionStrings>
</configuration>